body{
    margin: 50px ;
}
.pagination{
    margin: 0; 
    float: right;
}
.pagebar-tip-info{
    display: inline-block ;
    height: 33px;
    line-height: 33px;
    margin-left: 10px ;
}
.no-data{
    position:fixed;
	top:50%;
	/*margin-top:-10px;*/
    left:50%;
	/*margin-left:-10px;*/
}